/*Utilities*/
/*Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  display: flex;
  gap: .625rem;
  list-style: none;
  align-items: center; }

ul li img {
  padding-right: .3125rem; }

li:hover {
  transform: scale(1.1); }

a {
  text-decoration: none;
  color: black; }

input {
  border: .0313rem solid black; }

button {
  border: .0313rem solid black; }

span {
  font-weight: bold; }

/*Layout*/
.navbar {
  background: linear-gradient(to right, #FFF7AD, #FFBAF0); }
  .navbar a {
    font-size: 1.4375rem; }

body {
  font-family: "Noto Serif", serif;
  background-color: #f7dbfd;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

footer {
  margin-top: 10px;
  padding-top: 15px;
  background: linear-gradient(to left, #FFF7AD, #FFBAF0); }
  footer .div-footer {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  footer .div-contenedor-redes {
    text-align: center; }
  footer .-contactos ul {
    display: flex;
    padding-right: 29px; }
  footer .div-contenedor-redes ul {
    display: flex;
    padding-right: 27px; }
  footer .copyright {
    width: 100%;
    text-align: center;
    position: relative; }

.contenedor-filtro {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1.25rem; }

.section-categorias {
  display: flex;
  justify-content: center; }
  .section-categorias .contenedor-categorias {
    display: flex;
    width: 95%;
    padding: .625rem;
    gap: 5px; }
  .section-categorias .categorias-filtrar {
    width: 30%;
    justify-content: center;
    padding: 5px; }
  .section-categorias .categoria-filtrar-categoria-titulo h2 {
    font-size: 55px; }
  .section-categorias .categoria-filtrar-categoria div {
    display: flex;
    justify-content: center; }
    .section-categorias .categoria-filtrar-categoria div ul {
      flex-direction: column;
      width: 80%;
      padding-left: 10px; }
    .section-categorias .categoria-filtrar-categoria div li {
      font-size: 1.5625rem;
      font-weight: bold; }

.categoria-filtrar-talles {
  display: flex;
  flex-direction: column; }
  .categoria-filtrar-talles h3 {
    font-size: 50px; }
  .categoria-filtrar-talles .talles-inputs div {
    width: 60%;
    display: flex;
    gap: .625rem; }
    .categoria-filtrar-talles .talles-inputs div input {
      width: 20px;
      height: 20px; }
    .categoria-filtrar-talles .talles-inputs div label {
      font-size: 20px; }

.filtro-precios {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .filtro-precios div {
    display: block;
    align-items: center;
    gap: .125rem; }
    .filtro-precios div input {
      width: 70px;
      height: 20px; }
    .filtro-precios div button {
      width: 70px;
      height: 20px; }

.productos-filtros {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px; }

.card a img:hover {
  transform: scale(1.1);
  overflow: hidden; }

.contenedor-pagDetalles {
  display: flex;
  gap: 3.125rem;
  margin: 3%; }
  .contenedor-pagDetalles .container-imagenes {
    justify-content: center;
    gap: .625rem; }
    .contenedor-pagDetalles .container-imagenes .separador-posescolores {
      display: flex;
      flex-direction: row;
      gap: .625rem; }
      .contenedor-pagDetalles .container-imagenes .separador-posescolores .container-poses {
        display: flex;
        flex-direction: column;
        gap: .625rem;
        margin-top: 3.125rem; }
        .contenedor-pagDetalles .container-imagenes .separador-posescolores .container-poses img {
          height: 7.8125rem;
          width: 6.25rem;
          border-radius: 10px; }
      .contenedor-pagDetalles .container-imagenes .separador-posescolores .container_producto img {
        height: 28.125rem;
        width: 23.125rem;
        border-radius: 30px; }
    .contenedor-pagDetalles .container-imagenes .container-colores {
      display: flex;
      justify-content: center;
      margin: .3125rem 0 0 6.25rem;
      gap: .625rem; }
      .contenedor-pagDetalles .container-imagenes .container-colores img {
        height: 7.8125rem;
        width: 6.875rem;
        border-radius: 10px; }

.container__detalles {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; }
  .container__detalles .detalle-titulo h1 {
    font-size: 55px; }
  .container__detalles h2 {
    font-size: 35px;
    margin-bottom: .625rem; }
  .container__detalles label {
    font-size: 20px;
    text-align: justify;
    font-weight: 100;
    margin-bottom: 25px; }
  .container__detalles .detalles-modopagos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: .625rem;
    margin-bottom: 10px; }
    .container__detalles .detalles-modopagos p {
      font-size: 20px; }
    .container__detalles .detalles-modopagos img {
      height: 2.5rem;
      width: 2.5rem; }

.formulario-compra {
  display: flex;
  flex-direction: column; }
  .formulario-compra label {
    font-size: 1.125rem; }
  .formulario-compra select {
    text-align: center;
    margin-bottom: 10px;
    border-radius: .625rem;
    height: 1.5625rem;
    width: 9.375rem; }
  .formulario-compra input {
    text-align: center;
    margin-bottom: 10px;
    border-radius: .625rem;
    height: 1.5625rem;
    width: 9.375rem;
    border: .0313rem solid black; }
  .formulario-compra button {
    width: 9.375rem;
    height: 1.5625rem;
    border-radius: .625rem;
    border: .0313rem solid black; }

.formulario-envio label {
  font-size: 1.125rem; }

.formulario-envio input {
  width: 9.375rem;
  height: 1.5625rem;
  border-radius: .625rem;
  border: .0313rem solid black; }

.formulario-envio button {
  width: 4.375rem;
  border-radius: 5px;
  font-size: 15px;
  border: .0313rem solid black; }

.formulario-envio p {
  font-size: 15px; }

.formulario-cuenta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px 0 5px 0;
  height: 432px; }
  .formulario-cuenta .form-cuenta h1 {
    font-size: 60px;
    text-align: center; }
  .formulario-cuenta .form-cuenta button {
    width: 500px;
    height: 35px;
    border-radius: 8px; }
  .formulario-cuenta .form-cuenta button:hover {
    background: linear-gradient(to right, #FFF7AD, #FFBAF0);
    font-weight: bold; }
  .formulario-cuenta .form-cuenta .cuenta-nueva {
    text-align: end;
    padding: 10px; }

.section-newUser {
  display: flex;
  justify-content: center;
  padding: 13px; }
  .section-newUser div {
    width: 80%;
    display: flex;
    justify-content: center; }
    .section-newUser div div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%; }
      .section-newUser div div h1 {
        text-align: center;
        font-size: 70px; }
      .section-newUser div div div label {
        font-size: 25px; }
      .section-newUser div div .button-cuenta {
        display: flex;
        align-items: center; }
        .section-newUser div div .button-cuenta button {
          align-items: center;
          width: 300px;
          height: 35px;
          border-radius: 10px; }
        .section-newUser div div .button-cuenta button:hover {
          background: linear-gradient(to right, #FFF7AD, #FFBAF0);
          font-weight: bold; }

/*Components*/
/*Media Queries*/
