footer {
    margin-top: .625rem;
    padding-top: .9375rem;
    background: linear-gradient(to left, $colorNavbar1, $colorNavbar2);

    .div-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .div-contenedor-redes {
        text-align: center;
    }

    .-contactos ul {
        display: flex;
        padding-right: 1.8125rem;

    }

    .div-contenedor-redes ul {
        display: flex;
        padding-right: 1.6875rem;

    }

    .copyright {
        width: 100%;
        text-align: center;
        position: relative;
    }
}