.contenedor-filtro {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1.25rem;
}

.section-categorias {
    display: flex;
    justify-content: center;

    .contenedor-categorias {
        display: flex;
        width: 95%;
        padding: .625rem;
        gap: 5px;
    }

    .categorias-filtrar {
        width: 30%;
        justify-content: center;
        padding: 5px;
    }


    .categoria-filtrar-categoria-titulo h2 {
        font-size: 55px;
    }


    .categoria-filtrar-categoria div {
        display: flex;
        justify-content: center;
        ul {
            flex-direction: column;
            width: 80%;
            padding-left: 10px;
        }

        li {
            font-size: 1.5625rem;
            font-weight: bold;
        }
    }
}

.categoria-filtrar-talles {
    display: flex;
    flex-direction: column;

    h3 {
        font-size: 50px;
    }

    .talles-inputs div {
        width: 60%;
        display: flex;
        gap: .625rem;

        input {
            width: 20px;
            height: 20px;
        }

        label {
            font-size: 20px;
                    }
    }
}

.filtro-precios {
    display: flex;
    flex-direction: column;
    text-align: center;

    div {
        display: block;
        align-items: center;
        gap: .125rem;

        input {
            width: 70px;
            height: 20px;
        }

        button {
            width: 70px;
            height: 20px;
        }
    }
}

.productos-filtros {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.card a img:hover{
    transform: scale(1.1);
    overflow: hidden;
}