.formulario-cuenta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3125rem;
    margin: .625rem 0 .3125rem 0;
    height: 27rem;
    .form-cuenta {
        h1 {
            font-size: 3.75rem;
           text-align: center;
        }
    
        button {
            width: 31.25rem;
            height: 2.1875rem;
            border-radius: .5rem;
        }
        button:hover {
            background: linear-gradient(to right, $colorNavbar1, $colorNavbar2);
        font-weight: bold;
        }
    
        .cuenta-nueva {
            text-align: end;
            padding: .625rem;
        }
    }
}

