.section-newUser {
    display: flex;
    justify-content: center;
    padding: .8125rem;

    div {
        width: 80%;
        display: flex;
        justify-content: center;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;

            h1 {
                text-align: center;
                font-size: 4.375rem;
            }

            div {
                label {
                    font-size: 1.5625rem;
                }

            }

            .button-cuenta {
                display: flex;
                align-items: center;

                button {
                    align-items: center;
                    width: 18.75rem;
                    height: 2.1875rem;
                    border-radius: .625rem;
                }

                button:hover {
                    background: linear-gradient(to right, $colorNavbar1, $colorNavbar2);
                font-weight: bold;
                }
            }

        }

    }
}