

body {
    border: 1px solid red;
}



footer {
    margin-top: 15px;
}

.div-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-contenedor-redes {
    text-align: center;
}

.-contactos ul {
    display: flex;
    padding-right: 29px;
}

.div-contenedor-redes ul {
    display: flex;
    padding-right: 27px;
}

.copyright {
    width: 100%;
    text-align: center;
    position: relative;
}

.contenedor-filtro {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1.25rem;
    border: 1px solid red;
}

/*Aca se modifica todo lo que son los filtros*/

.section-categorias {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.contenedor-categorias {
    display: flex;
    width: 95%;
    border: 2px solid black;
    padding: .625rem;
    gap: 5px;
}





.categoria-filtrar-categoria {
    border: 5px solid black;
    display: block;
    justify-content: center;
    text-align: center;
}



.categoria-filtrar-categoria div ul {
    border: 2px solid rgb(30, 51, 238);
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 10px;
}

.categoria-filtrar-categoria div ul li {
    font-weight: bold;
}

.categoria-filtrar-talles {
    border: solid 10px purple;
    display: flex;
    flex-direction: column;
}

.talles-inputs div {
    border: 1px solid yellowgreen;
    width: 60%;
    display: flex;
    gap: .625rem;
}

.filtro-precios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtro-precios .prueba-precios {
    display: flex;
    align-items: center;
}

.filtro-precios .prueba-precios input {
    width: 70px;
    height: 20px;
    margin: 0 5px;
}

.filtro-precios button {
    border-radius: 5px;
    height: 20px;
    font-size: 10px;
}

/*Aca se modifica todo lo que corresponde al listado de productos*/
.productos-filtros {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid red;
    padding: 20px;
}

.productos-filtros-contenedor {
    width: 100%;
    border: 2px solid violet;
}

/*Aca se modifica la pagina de detalles de productos*/

