* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    gap: .625rem;
    list-style: none;
    align-items: center;
}



ul li img {
    padding-right: .3125rem;
}

li:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: black;
}


input {
    border: .0313rem solid black;
}

button {
    border: .0313rem solid black;
}


span{
    font-weight: bold;
}